

<div data-controller="date" data-date-price-value="<%= @video_game.price %>">

<%= simple_form_for @reservation, url: reservations_path, method: :post do |f| %>

    <%= f.input :start_location, label: false,
              as: :string,
              input_html: { data: { controller: "datepicker", target: "datepicker.range", range: true, date_target: "start" }, class: "custom-input", placeholder: "Choose Reservation Period:" } %>
    <%= f.input :end_location, label: false,
              as: :string,
              input_html: { data: { controller: "datepicker", target: "datepicker.range", range: true , date_target: "end", action: "input->date#calcule" }, class: "custom-input", placeholder: "Choose Reservation Period:" } %>


      Prix de la location : <span data-date-target="result"></span>

    <%= link_to "Valider", video_games_path , class: "btn btn-primary btn-warning"%>

  <% end %>
</div>
