<!DOCTYPE html>
<html lang="en">
  <body class=home-body>
    <div>
      <%= image_tag("bgc_video_games.jpg", class: "background-image", alt: "Background for video games") %>
      <div class="title-pages"><h1><strong>My video games</strong></h1></div>
      <div class="home-container">
        <% current_user.video_games.each do |video_game| %>
          <%= link_to video_game_path(video_game), class: "link" do %>
            <div class="home-card" style="background-image: url('<%= video_game.photo.attached? ? cl_image_path(video_game.photo.key) : image_path("image_default.png") %>'); background-size: cover; background-position: center; back"></div>
            <div class="home-title">
              <%= video_game.title %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>


    <div class="title-pages"><h1><strong>My reservations</strong></h1></div>
    <div class="home-container">
      <% current_user.reservations.each do |reservation| %>
        <%= link_to video_game_path(reservation.video_game), class: "link" do %>
          <div class="home-card" style="background-image: url('<%= image_path('image_default.png') %>'); background-size: cover; background-position: center; back"></div>
          <div class="home-title">
            <%= reservation.video_game.title %>
          </div>
        <% end %>
      <% end %>
    </div>
  </body>
</html>
