<!DOCTYPE html>
<html lang="en">
  <body class=home-body>
   <h1>My video games</h1>
    <div class="home-container">
      <% current_user.video_games.each do |video_game| %>
        <%= link_to video_game_path(video_game), class: "link" do %>
          <div class="home-card" style="background-image: url('<%= image_path('Call-of-Duty-MW3-Cover.jpg') %>'); background-size: cover; background-position: center; back">
          </div>
            <div class="home-title">
            <%= video_game.title %>
            </div>
        <% end %>
      <% end %>
    </div>



    <h1>My reservation</h1>
    <div class="home-container">
      <% current_user.reservations.each do |reservation| %>
        <%= link_to video_game_path(reservation.video_game), class: "link" do %>
          <div class="home-card" style="background-image: url('<%= image_path('Call-of-Duty-MW3-Cover.jpg') %>'); background-size: cover; background-position: center; back">
          </div>
            <div class="home-title">
            <%= reservation.video_game.title %>
            </div>
        <% end %>
      <% end %>
  </body>
</html>
