<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a video game</title>
  </head>

  <body class="body-add">
    <div class="back-wallpaper"></div>
    <h2 class="add-text">Add your game</h2>
    <div class="add-card-game">
      <div class="adding-register">
        <%= simple_form_for(@video_game) do |f| %>
          <div class="add-container">
            <div class="input-add-flex">
             <%= f.text_field :title, class: "custom-input2", placeholder: "Title" %>
                <%= f.text_field :category, class: "custom-input2", placeholder: "Category" %>
                <%= f.number_field :price, class: "custom-input2", placeholder: "Price" %>
              </div>
              <div class="description-input">
                <%= f.text_field :description, class: "custom-input2", placeholder: "Description" %>
              </div>
              <div class="jilsonne-singe">
                <div class="submit-game">
                  <%= f.submit class: "submit-button" %>
                </div>
                <div class="input-photo">
                  <%= f.input :photo, label: false, as: :file %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
    </div>
  </body>
</html>
