
<div class=".container p-5">
  <h1><%= @video_game.title %></h1>
  <%= image_tag ("Call-of-Duty-MW3-Cover.jpg"), class: "w-25" %> <br>
  <p> </p>
  <p><%= @video_game.description %></p>
 <p><%= @video_game.price %>€</p>
  <%= link_to "Reservation", class: "btn btn-primary" %>
</div>
