<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 profile-container">
     <h1>Profil de <%= @user.user_name %></h1>
      <div class="row">
        <div class="col-md-4">
          <%= image_tag("pp mahmoud", class: "profile-image img-fluid", width: "150", height: "150") %>
        </div>
        <div class="col-md-8">
          <p><strong>Nom :</strong> <%= @user.last_name.capitalize %></p>
          <p><strong>Prénom :</strong> <%= @user.first_name.capitalize %></p>
          <p><strong>Âge :</strong> <%= calculate_age(@user.birthday) %></p>
          <p><strong>Email :</strong> <%= @user.email %></p>
           <%= link_to "Éditer le profil", edit_user_path(@user), class: "btn btn-primary" %>
          <%= link_to "Supprimer le profil", @user, method: :delete, data: { confirm: "Êtes-vous sûr ?" }, class: "btn btn-danger delete-button" %>
        </div>
      </div>
    </div>
  </div>
</div>
